#navbar {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-right: 1rem;
  padding-left: 1rem;
}
#nav-upper {
  width: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-upper-left {
  display: flex;
  gap: 5px;
}
#nav-upper-left > svg:nth-child(1) {
  height: 1.5rem;
  width: 1.5rem;
}
#nav-upper-middle {
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 0.5rem;
}
#nav-upper-middle:hover {
  cursor: pointer;
}
#nav-upper-right {
  display: flex;
  gap: 7px;
}
#nav-upper-right > select {
  width: fit-content;
  font-size: 0.875rem;
  font-weight: 800;
  display: none;
  background: transparent;
  border: none;
  margin-right: auto;
}
.human-icon {
  display: none;
}
#nav-bottom {
  display: none;
  width: 75%;
  margin: auto;
  font-weight: 800;
}
#nav-bottom p:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 640px) {
  #nav-upper {
    margin: auto;
    width: 90%;
  }
  #nav-upper-left > svg:nth-child(1) {
    display: none;
  }

  #nav-upper-right > select {
    display: block;
  }
  .human-icon {
    display: block;
  }
  #nav-bottom {
    display: flex;
    justify-content: space-evenly;
  }
}
